{
  "env" : {"jest":true},
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": ["warn", "as-needed"],
    "arrow-parens": ["warn", "as-needed", { "requireForBlockBody": true }],
    "max-classes-per-file": 0,
    "max-len": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 10 }],
    "no-return-assign": ["error", "except-parens"],
    "no-unused-vars": ["error", { "args": "none" }],
    "object-curly-newline": ["error", { "minProperties": 0, "consistent": true }],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }]
  }
}